[submodule "schemas"]
	path = schemas
	url = git@github.com:Frodo45127/rpfm-schemas.git
    update = "none"
[submodule "3rdparty/src/qt_dds_library"]
	path = 3rdparty/src/qt_dds_library
	url = git@github.com:Frodo45127/qt_dds_library.git
    update = "none"
[submodule "old_ak_files"]
	path = old_ak_files
	url = git@github.com:Frodo45127/total_war_ak_files_pre_shogun_2.git
    update = "none"
[submodule "3rdparty/src/qt_rendering_widget"]
	path = 3rdparty/src/qt_rendering_widget
	url = https://github.com/mr-phazer/QtRenderingWidget
    update = "none"
