# Files created during tests.
/test_files/ca_vp8_v0_encode.ca_vp8
/test_files/ca_vp8_v0_to_ivf_and_back.ca_vp8
/test_files/ca_vp8_v1_encode.ca_vp8
/test_files/ca_vp8_v1_to_ivf_and_back.ca_vp8
/test_files/PFH0_test_encode.pack
/test_files/PFH2_test_encode.pack
/test_files/PFH3_test_encode.pack
/test_files/PFH4_test_encode.pack
/test_files/PFH5_test_encode.pack
/test_files/PFH6_test_encode.pack
/test_files/test_encode.animpack
/test_files/test_encode_atlas_*
/test_files/test_encode.bmd
/test_files/test_encode_iso_8859_1.html
/test_files/test_encode_utf8.html
/test_files/test_encode_utf8_with_bom.html
/test_files/test_encode_utf16_le.html
/test_files/test_encode_v1.unit_variant
/test_files/test_encode_v2.unit_variant
/test_files/test_encode_no_sqlite.loc
/test_files/test_encode_sqlite.loc
/test_files/test_encode_db_no_sqlite
/test_files/test_encode_db_sqlite
/test_files/test_encode_matched_combat.bin
/test_files/test_encode_anim_fragment_wh2.frg
/test_files/test_encode_anim_fragment_wh3.bin
/test_files/test_encode_anim_fragment_3k.bin
/test_files/test_encode_anims_table.bin
/test_files/test_encode_rfile.pack
/test_files/test_encode_anim_wh3.bin
/test_files/test_encode_matched_combat_wh3.bin
/test_files/test_encode_soundbank.bnk
/test_files/test_encode_portrait_settings_v4.bin
/test_files/test_encode_matched_combat_wh3.bin
/test_files/test_encode_matched_combat_3k_matched.bin
/test_files/test_encode_matched_combat_3k_trigger.bin
/test_files/test_encode_esf_caab.esf
/test_files/test_encode_uic_138.xml
/test_files/test_encode_wall.cs2.parsed
/test_files/test_encode_wall_corner.cs2.parsed
/test_files/fastbin/encode_*
/test_files/fastbin/v23_encode_*
/test_files/fastbin/v24_encode_*
/test_files/fastbin/v27_encode_*
/test_files/fastbin/test_prefab.layer
/test_files/fastbin/prefabs
/test_files/test_compression_compressed.bmd
/test_files/test_compression_decompressed.bmd
/test_files/test_compression_recompressed.bmd
/test_files/fastbin/test_encode.hlsl_compiled
/test_files/test_encode.dat
/test_files/test_encode_group_formations_3k.bin
/test_files/test_encode_group_formations_rom2.bin
/test_files/test_encode_group_formations_sho2.bin

# This one is another separate thing, not tracked.
/autosaves/

# Ignore grcov folder, if exists.
/coverage/

# Folder where the PAK2 Files go. We don't want them added to the repo, as each user should generate their own ones.
/dependencies/

# Crashlog folder.
/error/

# Compilation folder for Rust & Company.
/target/

# Ignore autogen folder on debug builds.
/tw_autogen/

# Ignore the table patches.
/table_patches/

# Ignore the table profiles.
/table_profiles/

# Intellij Config folder and files.
/.idea/

# KDE directory config file.
.directory

# Sublime Config files.
*.sublime-project
*.sublime-workspace

# This one is the file generated by the "Missing Table Definitions" feature.
missing_table_definitions.txt

# Secret tokens.
gh-token

# New RPFM Config files. This one shouldn't be added either.
settings.ron
shortcuts.ron

# Custom files.
dark-theme-custom.qss

# This specific lib is generated on UI build. No need to add it to the repo.
/3rdparty/builds/libqt_rpfm_extensions.a

# This one is the qt lib. AFAIK, Phazer didn't get me permissions to publish it, so to the gitignore it goes.
/3rdparty/builds/QtRMV2Widget.lib

# Subclasses lib compilation files.
*.pro.user
**/Makefile
**/Makefile.*
**/.qmake.stash
**/.qtc_clangd/
**/*.rs.bk

# These are usually files locked by applications.
*.*~
