/imageformats/
/.idea/
/target/
/dependency_packs/
/pak_files/
**/*.rs.bk
.directory
settings.json
shortcuts.json
rpfm-code.iml
*.*~
*.sublime-project
*.sublime-workspace
table_state.json
missing_table_definitions.txt
