[submodule "install/arch/rpfm-bin"]
	path = install/arch/rpfm-bin
	url = ssh://aur@aur.archlinux.org/rpfm-bin.git
[submodule "schemas"]
	path = schemas
	url = git@github.com:Frodo45127/rpfm-schemas.git
