({
    "schema_3k.ron": 8,
    "schema_are.ron": 7,
    "schema_att.ron": 11,
    "schema_emp.ron": 0,
    "schema_nap.ron": 0,
    "schema_rom2.ron": 12,
    "schema_sho2.ron": 7,
    "schema_tob.ron": 10,
    "schema_wh.ron": 18,
    "schema_wh2.ron": 25,
})
