({
    "schema_3k.ron": 3,
    "schema_are.ron": 6,
    "schema_att.ron": 10,
    "schema_emp.ron": 0,
    "schema_nap.ron": 0,
    "schema_rom2.ron": 11,
    "schema_sho2.ron": 6,
    "schema_tob.ron": 9,
    "schema_wh.ron": 17,
    "schema_wh2.ron": 21,
})
