[package]
name = "rpfm_cli"
version = "2.5.100"
build = "build.rs"
authors = ["Frodo45127 <frodo_gv@hotmail.com>"]
description = "A CLI tool to automate all your modding needs."
edition = "2018"

[dependencies]
# Internal dependencies.
rpfm_error = { path = "../rpfm_error" }
rpfm_lib = { path = "../rpfm_lib" }

# CLI parsing, formatting and color support.
clap = "^2.33"
colored = "^2.0"
prettytable-rs = "^0.8"
bytesize = "^1.0"

# Logging support.
log = "^0.4"
simplelog = "^0.10"

# Serialize support
serde_json = "^1.0"

# Windows resources support.
[target.'cfg(windows)'.build-dependencies]
winres = "^0.1"
